aside {
  display: block;
  position: relative;
  margin: 40px 0;
}

aside h3 {
  font: bold 12px Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #369;
  color: #fff;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
}

/* Class name via Modernizr */
.csstransforms aside {
  border-left: 34px solid rgb(21, 63, 104);
  padding-left: 10px;
}
.csstransforms aside h3 {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  top: 0;
  left: 0;

  /* Border is the new background */
  background: none;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.Checklist-item {
  border-radius: 12px;
  background: #d6d6e1;
  box-shadow: 5px 5px 10px #8b8b92, -5px -5px 10px #ffffff;
}

.Checklist-item-completed {
  border-radius: 12px;
  background: #60e298;
  box-shadow: 5px 5px 10px #3e9363, -5px -5px 10px #82ffcd;
}

.inset {
  border-radius: 20px;
  background: #d6d6e1;
  box-shadow: inset 6px 6px 12px #b2b2bb, inset -6px -6px 12px #fafaff;
}

main {
  background-color: #82b2d4;
}
