.Checklist-item {
  border-radius: 12px;
  background: #d6d6e1;
  box-shadow: 5px 5px 10px #8b8b92, -5px -5px 10px #ffffff;
}

.Checklist-item-completed {
  border-radius: 12px;
  background: #60e298;
  box-shadow: 5px 5px 10px #3e9363, -5px -5px 10px #82ffcd;
}

.inset {
  border-radius: 20px;
  background: #d6d6e1;
  box-shadow: inset 6px 6px 12px #b2b2bb, inset -6px -6px 12px #fafaff;
}

body {
  background-color: #d6d6e1;
}
